---
---

@import "{{ site.theme }}";

@font-face {
    font-family: regularFont;
    src: url(/fonts/valorant_regular_font.otf);
    font-display: swap;
}

@font-face {
    font-family: headerFont;
    src: url(/fonts/valorant_header_font.ttf);
    font-display: swap;
}

div {
    font-family: regularFont;
    font-weight: normal;
    font-size:16px;
}

h2, h3, h4, h5, h6 {
    font-family: regularFont !important;
}

h1 {
    font-family: headerFont;
}

section {
  max-width:650px;
  padding: 30px 0px 50px 0px;
  margin: 20px 0;
  margin-top: 70px;

  #title {
    border: 0;
    outline: none;
    margin: 0 0 50px 0;
    padding: 0 0 5px 0;

    h1 {
      font-family: headerFont;
      font-weight: normal;
      font-size: 40px;
      text-align: center;
      line-height: 36px;
    }

    p {
      color: #d7cfbe;
      font-family: regularFont;
      font-weight: normal;
      font-size: 18px;
      text-align: center;
    }

    .credits {
      font-size: 11px;
      font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: normal;
      color: #696969;
      margin-top: -10px;

      &.left {
        float: left;
      }

      &.right {
        float: right;
      }
    }

  }
}
